aside     {    
    display: flex;
    width: 10rem;
    float: left;
    display: inline;
    padding: 1rem;
    margin-right: 1rem;
  }
.button {
    background-color: lightsteelblue;
    font-family: serif;
    width: 3rem;
    margin-top: .5rem;
}


.item-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 20rem;
    height: 20rem;
    margin: 5rem;
    border: .25rem solid black;
}

header {
    clear:both;
}

header img  {
    float: left;
    width: 5;
    height: 6.5rem;
    padding: .5rem;
}

header h1 {
    position: relative;
    bottom: auto;
    color: #3D7FCF;
    font-size: 2rem;
    font-family: 'Luckiest Guy', cursive;
    margin-top: 1rem;
    margin-left: 5rem;
    line-height: 2rem; 
}

h2, h3 {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}

main  {
    padding-top: 5rem;
}

.nav-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
}


nav {
    background-color:#3D7FCF;
    text-align: center;
    padding-bottom: 1rem;
    width: 100%;
}

nav a {
    color: white;
}

nav ul{
    list-style: none;
    margin: 0.5rem;
    padding: 0;
    display: flex;
    justify-content: space-around;
}


section {
    padding-left: 10rem;
}

section img {
    float: center;
    display: inline;
    height: 10rem;
    width: 10rem;
}

select {
    width: 100%;
    border: none;
    width: 7rem;
    margin-top: .5rem;
    background-color: aliceblue;
    font-family: serif;
    border: .1rem solid blue;
}


