aside     {    
    display: flex;
    width: 8rem;
    float: left;
    margin-right: 2rem ;
    margin-top: 5rem;
  }

body {
    background-color: #C3CDDB;
}
.button {
    background-color: white;
    font-family: serif;
    width: 3rem;
    margin-top: .5rem;
}

footer {
    clear: both;
    background-color:  #C3CDDB;
    color: black;
    height: 5rem;
    padding: 1rem;
    text-align: center;
}

.item-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 10rem;
    height: 20rem;
    margin: 5rem;
    padding-left: 1rem;
    border: .20rem solid #C3CDDB;
;
  
}

.item h3 {
    float: bottom;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}

.item img {
    float: center;
    display: flex;
    justify-content: center;
    width: 75%;
    max-width: 100%;
    max-height: 100;
    padding-left: 1.5rem;
}

.item p {
  font-size: .9rem;
  text-align: center;
}

header {
    clear:both;
}

header img  {
    float: left;
    height: 50%;
    padding: .5rem;
}

header h1 {
    position: relative;
    bottom: auto;
    color: #3D7FCF;
    font-size: 2rem;
    font-family: 'Luckiest Guy', cursive;
    margin-top: 1rem;
    margin-left: 5rem;
    line-height: 2rem; 
}

main  {
    padding-top: 5rem;
}

.nav-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
}


nav {
    background-color:#3D7FCF;
    text-align: center;
    padding-bottom: 1rem;
    width: 100%;
}

nav a {
    color: white;
}

nav ul{
    list-style: none;
    margin: 0.5rem;
    padding: 0;
    display: flex;
    justify-content: space-around;
}





select {
    width: 100%;
    border: none;
    width: 7rem;
    margin-top: .5rem;
    background-color: aliceblue;
    font-family: serif;
    border: .1rem solid blue;
}

h2 {
    flex:auto;
    color: #3D7FCF;
    font-size: 1.5rem;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
  
}
.span_1_of_2 {
	    width: 5%;
      display: flex;
      float: left;
      margin-top: 5rem;
      margin-right: 4rem;
  }


.span_2_of_2 {
      display: flex;
      margin-top: 2.5%;
      margin-right: 15%;
      margin-left: 10%;
      max-height: 100%;
      width: 80%;
      background-color: white;
}

.span_2_of_2 h2 {
    color: #3D7FCF;
    font-size: 1.5rem;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
}


